<div class="bd">
	<div class="search">
		<label>Vyhľadávanie</label>
		<input type="text" placeholder="Zadaj mesto" [(ngModel)]="city">
		<button type="button" (click)="search(city)">Hľadaj!</button>
	</div>

	<div class="container" *ngIf="myWeather">
		<h1>{{myWeather.city}}</h1>
		<h2>{{myWeather.temp}}</h2>
		<div class="obrazok">
			<img src="https://openweathermap.org/img/w/{{myWeather.icon}}.png">
		</div>
		<h3>{{myWeather.weatherKind}}</h3>
		<h4>Maximálna teplota: {{myWeather.tempMax}} °c</h4>
		<h4>Minimálna teplota: {{myWeather.tempMin}} °c</h4>
	</div>
	<h3>{{errMsg}}</h3>
</div>